.container {
  background-image: linear-gradient(to top, rgb(24, 36, 104), rgb(7, 150, 185));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerForm p{
  color: white;
  font-size: 1.5vmin;
  text-align: center;
}

.containerForm h1{
  margin-top: 0;
  font-size: 3.5vmin;
  text-align: center;
  margin-bottom: 4vmin;
}


.card_form{
  display: flex;
  width: 50vmin;
  height: 80vmin;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  color: rgb(24, 22, 32);
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px;
}


.form input{
  height: 2vmin;
  border-radius: 10px;
  text-align: start;
  border-width: 1px;
  padding: 1vmin;
  margin-bottom: 2vmin;
}

#teste{
  font-family: Arial, Helvetica, sans-serif;
}

.form button{
  border-radius: 10px;
  text-align: center;
  border-width: 1px;
  padding: 1.5vmin;
}

.form label{
  margin-bottom: 0;
  font-size: 12px;
  text-align: start;
}

.form button{
  background-image: linear-gradient(to right, rgb(57, 86, 253), rgb(10, 206, 255));
  color: white;
  border: none;
  border-radius: 35px;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}